name: Checking code quality

on:
  pull_request:

jobs:
  check-code-quality:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setting up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: .node-version
          cache: npm

      - name: npm install
        run: npm ci --no-audit --no-fund

      - name: build
        run: npm run build

      - name: lint
        run: npm run lint

      - name: test
        run: |
          npm run test:ci
