name: Lint GitHub Actions files

on:
  pull_request:
    paths:
      - '.github/workflows/**'

jobs:
  lint-github-actions-files:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - uses: reviewdog/action-actionlint@0d952c597ef8459f634d7145b0b044a9699e5e43 # v1.71.0
        with:
          tool_name: actionlint
          reporter: github-pr-review
          fail_on_error: true
